__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg
env/
venv/
.venv/
env.bak/
venv.bak/
*.swp
*.swo
*.log
*.sqlite3
logs/
logs/**
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml
htmlcov/
.env
.env.*
*.dockerfile
.DS_Store
Thumbs.db
*mosquitto.log